{{ define "main" }}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{ .Site.Params.race_date }}</h1>
        <p class="lead">{{ .Site.Title }}</p>
        <hr class="my-4">
        <p>{{ .Params.description }}</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Register Today!</a>
    </div>
</div>

<div class="container">
    {{ .Content }}
  <hr />
  <h2>Why Should You Become a Sponsor?</h2>
  <ul>
      <li><b>EXPOSE</b> your business to Bay Area athletes and the Willow Glen community.</li>
      <li><b>INCREASE</b> brand recognition of your product and services.</li>
      <li><b>DISTRIBUTE</b> information and materials to showcase your products and services.</li>
      <li><b>DRIVE</b> participants to your website.</li>
      <li><b>SUPPORT LOCAL SCHOOLS</b> as proceeds benefit Willow Glen Elementary and other participating local schools.</li>
  </ul>

  <hr />
  <h2>2019 Sponsors</h2>
  <p>The Willow Glen 5K is made possible by our Presenting Sponsor, San Jose Swim and Racquet Club, and the generous contributions of the following Willow Glen businesses. Join us in thanking them by supporting them next time you’re in Willow Glen!</p>

  <h3>Presenting Sponsor (10-year)</h3>

    <div class="pb-4 pt-2">
    <a class="card" style="width: 252px;" href="http://www.sjsrc.com/">
    <div class="card-body">
        <img src="/images/sponsors/sjsrc_logo.jpg" class="card-img-top" alt="...">
    </div>
    </a>
    </div>

    <hr />
  <h3>Platinum Sponsor</h3>

  <div class="row pt-2 pb-2">
  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://sjd6.org/">
  <div class="card-body">
    <img src="/images/sponsors/thumbs_dev_davis.png" class="card-img-top" alt="...">
  </div>
  </a>
  </div>

  
  <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.willowglen.org/business-sds-nexgen-partners-2085">
    <div class="card-body">
        <img src="/images/sponsors/thumbs_sds_100.png" class="card-img-top" alt="...">
    </div>
    </a>
  </div>

  </div>

  <hr />
  <h3>Gold Sponsor</h3>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.sanjoseca.gov/district9">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_CM-Foley-logo-4-Color-No-Paid-No-Council.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://iwmg-sv.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_iwmg_100.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.airsystemsinc.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_air_systems.gif" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.google.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_logo_Google_FullColor_xxxhdpi_830x271px.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.ebay.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_eBay-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://yukisushi.com/willow-glen/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_yukisushi-150-1.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
</div>

<hr />
<h3>Silver Sponsor</h3>

<div class="row pt-2 pb-2">
  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.sanjose-dentists.com/">
      <div class="card-body" >
          <img src="/images/sponsors/thumbs_uyesugi-dental.jpg" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://athletictreads.com/AthleticTreads/Home.html">
      <div class="card-body" >
          <img src="/images/sponsors/thumbs_Athletic-Treads-Logo-1.png" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.berliner.com/">
      <div class="card-body" >
          <img src="/images/sponsors/thumbs_Berliner-Cohen-50th-Anniversary-Logo-White-Background-WEB-1.png" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="https://www.drmashouf.com/">
      <div class="card-body" >
          <img src="/images/sponsors/thumbs_lg-vert-ondarkmashouf-logo_.png" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.fromhereforus.com/">
      <div class="card-body" >
          <img src="/images/sponsors/thumbs_pierluigi.jpg" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.svsynergy.com/">
      <div class="card-body" >
          <img src="/images/sponsors/thumbs_SVS-100.jpg" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>
</div>

<div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.bobbyblue.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_bobbyblue-logo-100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.lynsiegridley.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_lynsie-gridley-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://willow-glen.orangetheoryfitness.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_oranage-theory-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.rginc.com/rg/default.htm">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_reed-graham-150-150.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

  <hr />
  <h3>Bronze Sponsor</h3>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.lexusstevenscreek.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_lexus-sc-100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.yelp.com/biz/nail-elegance-san-jose">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_nail-elegance.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.yelp.com/biz/brads-auto-care-san-jose-2">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_brads-auto-care.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.the4cats.com/">
        <div class="card-body">
            <img src="/images/sponsors/thumbs_The-4-Cats-Logo.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.cefcu.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_cefcu-logo-stacked-hires.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://towneadvisory.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_TOWNE-logo-300x211.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.thewillowden.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_willow_den_100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://hollybarr.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_Holly-Barr-100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.wg5k.org/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_1133_minnesota.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.yelp.com/biz/c-k-studio-for-hair-san-jose-2">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_ckstudioforhair-100.jpg.jpeg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.ranchtownrecycling.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_ranch-town-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.splashworkskb.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_splashworks-1.gif" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.thetablesj.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_the-table-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.willowglenkarate.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_vma-150-150.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.visualeyesoptometry.com/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_visualeyes-150.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.willowglen.org/">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_wgba.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

</div>


                      

{{ end }}