{{ define "main" }}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Saturday, May 9, 2020 at 9AM</h1>
        <p class="lead">Willow Glen 5K Run/Walk</p>
        <hr class="my-4">
        <p>The 11th annual Willow Glen 5K Run/Walk for Education takes place this year, as always, on Mother’s Day weekend</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Register Today!</a>
    </div>
</div>

<div class="container">
  <p>Willow Glen 5K’s flat and USATF-certified race course starts in San Jose’s Willow Glen downtown and winds through neighborhood streets, with racers cheered on by local businesses and residents.</p>
  <p>Racers, families and neighbors are then invited to a post-race festival, awards ceremony and kids’ fun zone. Sponsor booths, pancake breakfast, music, games, massage therapy, and a dedicated kids’ area – all spread out over two areas of the Willow Glen Elementary school campus.</p>
  <p>Proceeds from the race go to local elementary school PTAs to fund after-school programs such as: arts, music, science, sports, technology and many more.</p>

  <hr />
  <h2>Why Should You Become a Sponsor?</h2>
  <ul>
      <li><b>EXPOSE</b> your business to Bay Area athletes and the Willow Glen community.</li>
      <li><b>INCREASE</b> brand recognition of your product and services.</li>
      <li><b>DISTRIBUTE</b> information and materials to showcase your products and services.</li>
      <li><b>DRIVE</b> participants to your website.</li>
      <li><b>SUPPORT LOCAL SCHOOLS</b> as proceeds benefit Willow Glen Elementary and other participating local schools.</li>
  </ul>

  <hr />
  <h2>2019 Sponsors</h2>
  <p>The Willow Glen 5K is made possible by our Presenting Sponsor, San Jose Swim and Racquet Club, and the generous contributions of the following Willow Glen businesses. Join us in thanking them by supporting them next time you’re in Willow Glen!</p>

  <h3>Presenting Sponsor (10-year)</h3>

    <div class="pb-4 pt-2">
    <a class="card" style="width: 252px;" href="http://www.sjsrc.com/">
    <div class="card-body">
        <img src="/images/sponsors/sjsrc_logo.jpg" class="card-img-top" alt="...">
    </div>
    </a>
    </div>

    <hr />
  <h3>Platinum Sponsor</h3>

  <div class="row pt-2 pb-2">
  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://sjd6.org/">
  <div class="card-body">
    <img src="/images/sponsors/thumbs_dev_davis.png" class="card-img-top" alt="...">
  </div>
  </a>
  </div>

  
  <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.willowglen.org/business-sds-nexgen-partners-2085">
    <div class="card-body">
        <img src="/images/sponsors/thumbs_sds_100.png" class="card-img-top" alt="...">
    </div>
    </a>
  </div>

  </div>

  <hr />
  <h3>Gold Sponsor</h3>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.sanjoseca.gov/district9">
        <div class="card-body" >
            <img src="/images/sponsors/thumbs_CM-Foley-logo-4-Color-No-Paid-No-Council.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://iwmg-sv.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-gold/thumbs/thumbs_iwmg_100.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.airsystemsinc.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-gold/thumbs/thumbs_air_systems.gif" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.google.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-gold/thumbs/thumbs_logo_Google_FullColor_xxxhdpi_830x271px.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.ebay.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-gold/thumbs/thumbs_eBay-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>

    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://yukisushi.com/willow-glen/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-gold/thumbs/thumbs_yukisushi-150-1.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
</div>

<hr />
<h3>Silver Sponsor</h3>

<div class="row pt-2 pb-2">
  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.sanjose-dentists.com/">
      <div class="card-body" >
          <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_uyesugi-dental.jpg" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://athletictreads.com/AthleticTreads/Home.html">
      <div class="card-body" >
          <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_Athletic-Treads-Logo-1.png" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.berliner.com/">
      <div class="card-body" >
          <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_Berliner-Cohen-50th-Anniversary-Logo-White-Background-WEB-1.png" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="https://www.drmashouf.com/">
      <div class="card-body" >
          <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_lg-vert-ondarkmashouf-logo_.png" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.fromhereforus.com/">
      <div class="card-body" >
          <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_pierluigi.jpg" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>

  <div class="col-sm-2">
  <a class="card" style="width: 142px;" href="http://www.svsynergy.com/">
      <div class="card-body" >
          <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_SVS-100.jpg" class="card-img-top" alt="..." width="100px">
      </div>
  </a>
  </div>
</div>

<div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.bobbyblue.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_bobbyblue-logo-100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.lynsiegridley.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_lynsie-gridley-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://willow-glen.orangetheoryfitness.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_oranage-theory-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.rginc.com/rg/default.htm">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-silver/thumbs/thumbs_reed-graham-150-150.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

  <hr />
  <h3>Bronze Sponsor</h3>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.lexusstevenscreek.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_lexus-sc-100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.yelp.com/biz/nail-elegance-san-jose">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_nail-elegance.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.yelp.com/biz/brads-auto-care-san-jose-2">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_brads-auto-care.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.the4cats.com/">
        <div class="card-body">
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_The-4-Cats-Logo.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.cefcu.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_cefcu-logo-stacked-hires.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://towneadvisory.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_TOWNE-logo-300x211.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.thewillowden.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_willow_den_100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://hollybarr.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_Holly-Barr-100.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.wg5k.org/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_1133_minnesota.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.yelp.com/biz/c-k-studio-for-hair-san-jose-2">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_ckstudioforhair-100.jpg.jpeg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.ranchtownrecycling.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_ranch-town-150-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.splashworkskb.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_splashworks-1.gif" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

  <div class="row pt-2 pb-2">
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.thetablesj.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_the-table-150.png" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="http://www.willowglenkarate.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_vma-150-150.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.visualeyesoptometry.com/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_visualeyes-150.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  
    <div class="col-sm-2">
    <a class="card" style="width: 142px;" href="https://www.willowglen.org/">
        <div class="card-body" >
            <img src="http://www.wg5k.org/wp-content/gallery/2019-bronze/thumbs/thumbs_wgba.jpg" class="card-img-top" alt="..." width="100px">
        </div>
    </a>
    </div>
  </div>

</div>


                      

{{ end }}