{{ define "main" }}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Any day in May : We're virtual!
        </h1>
        <p class="lead">{{ .Site.Title }}</p>
        <hr class="my-4" />
        <p>{{ .Params.description }}</p>
        <a class="btn btn-primary btn-lg"
            href="https://raceroster.com/events/2020/30150/willow-glen-5k-runwalk-for-education" role="button">Register
            Today!</a>
    </div>
</div>

<div class="container">
    {{ .Content }}
    <!--
  <h2>Why Should You Become a Sponsor?</h2>
  <ul>
      <li><b>EXPOSE</b> your business to Bay Area athletes and the Willow Glen community.</li>
      <li><b>INCREASE</b> brand recognition of your product and services.</li>
      <li><b>DISTRIBUTE</b> information and materials to showcase your products and services.</li>
      <li><b>DRIVE</b> participants to your website.</li>
      <li><b>SUPPORT LOCAL SCHOOLS</b> as proceeds benefit Willow Glen Elementary and other participating local schools.</li>
  </ul>
-->
    <hr />
    <h2>2020 Sponsors</h2>
    <p>
        The Willow Glen 5K is made possible by our Presenting Sponsor, San Jose Swim
        and Racquet Club, and the generous contributions of the following Willow
        Glen businesses. Join us in thanking them by supporting them next time
        you’re in Willow Glen!
    </p>

    <p>
        COVID-19 is affecting everyone, including our sponsors. Consider buying gift
        cards from them, if possible. Remember them when we eventually return to
        normal daily life.
    </p>

    {{ $sponsors := where .Site.RegularPages "Section" "sponsors" }}

    <h3>Presenting Sponsor</h3>

    {{ partial "sponsors.html" (where $sponsors "Params.level" "Presenting") }}

    <hr />
    <h3>Platinum Sponsor</h3>

    {{ partial "sponsors.html" (where $sponsors "Params.level" "Platinum") }}

    <hr />
    <h3>Gold Sponsor</h3>

    {{ partial "sponsors.html" (where $sponsors "Params.level" "Gold") }}

    <hr />
    <h3>Silver Sponsor</h3>

    {{ partial "sponsors.html" (where $sponsors "Params.level" "Silver") }}

    <hr />
    <h3>Bronze Sponsor</h3>

    {{ partial "sponsors.html" (where $sponsors "Params.level" "Bronze") }}
</div>

{{ end }}