<div class="navbar-container" style="background-color: #152e33;" class="pb-1">
		<div class="container pb-1">
			<nav class="navbar navbar-expand-lg" style="background-color: #152e33;">
				<a class="navbar-brand" href="/">
					<img src="/images/wg5k_small_logo.png" height="50" class="d-inline-block align-top" alt="WG5K" />
				</a>
				<div class="collapse navbar-collapse justify-content-end">
					<ul class="nav navbar-nav" >
						<li><a class="nav-item nav-link text-light" href="/the-race">Race</a></li>
						<li><a class="nav-item nav-link text-light" href="/registration">Registration</a></li>
						<!-- <li><a class="nav-item nav-link text-light" href="#">Festival</a></li> -->
						<li><a class="nav-item nav-link text-light" href="/sponsorships">Sponsorships</a></li>
						<li><a class="nav-item nav-link text-light" href="/volunteers">Volunteers</a></li>
						<!-- <a class="nav-item nav-link text-light" href="#">About</a> -->
						<li><a class="nav-item nav-link text-light" href="/contact-us">Contact Us</a></li>
					</ul>

				</div>
			</nav>

		</div>
</div>