{{ define "main" }}
<div class="container mt-4">
    <h1>{{ .Title }}</h1>
    <p>We aren't running together this year but that doesn't mean we can't run.  
        Lincoln Avenue won't close for the race, but we can chart our own way, 
        with help from our fellow runners.  
    </p>
    <p>Here are some courses, we have so far, starting with the official Willow Glen 5K course:</p>
    <ul>
    {{ range .Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
    </ul>


    {{ .Content }}
</div>
{{ end }}