{{ define "main" }}

<div class="container pt-2">
    <h1>{{ .Title }}</h1>
    <div class="row">
        <div class="col-sm-10 col-xs-12">
            {{ .Content }}
        </div>
        <div class="col-sm-2 col-xs-12">
            <img src="/images/sponsors/{{ .Params.logo }}" class="rounded mx-2 img-fluid" />
        </div>
    </div>
    <hr />
    <div class="container">
        <img src="/images/bags/{{ .Params.coupon }}" style="height: 100%;" class="mx-2 img-fluid" />
    </div>
</div>

{{ end }}